dist/
planner-server.log

todolist/personnal/**
!todolist/personnal/
!todolist/personnal/.gitkeep
!todolist/personnal/**/
!todolist/personnal/**/.gitkeep

todolist/professional/**
!todolist/professional/
!todolist/professional/.gitkeep
!todolist/professional/**/
!todolist/professional/**/.gitkeep
